## Docs
- gameDuration : 경기시간(초단위)

- teams : 팀 정보
    - firstRiftHerald : 첫 전령을 죽였는지 여부
    - riftHeraldKills : 전령 죽인 수
    - firstBlood : 퍼블여부 (T/F)
    - firstInhibitor : 첫 억제기 파괴여부
    - inhibitorKills : 파괴한 억제기 수
    - firstTower : 첫 타워 파괴여부
    - towerKills : 팀이 파괴한 타워 수
    - firstBaron : 첫번째 바론킬
    - baronKills : 바론 죽인 횟수
    - firstDragon : 첫번째 드래곤킬
    - dragonKills : 드래곤 죽인 횟수
    - bans : 벤한 챔피언, 없으면 비어있음
    - dominionVictoryScore : 도미니언 게임 점수 > 삭제할 것
    - vilemawKills : 삭제 > 5:5 게임에는 없는 오브젝트 (썩은 아귀)
    - teamId : 블루 > 100, 레드 > 200
    - win : 승리여부
    
- Participant
    - championId : 챔피언 아이디
    - spell1Id : 첫번째 스펠
    - spell2Id : 두번째 스펠
    - highestAchievedSeasonTier : queueid에서 이전시즌 달성한 최고 (현시즌 최고티어) 
    - ststs
        - item0~6 : 아이템항목
        - totalHeal : 치유량
        - totalUnitsHealed : 힐한 유닛 수
        - largestMultiKill : 최대 다중 처치 수
        - goldEarned : 획득 골드
        - goldSpent : 골드 사용량
        - firstInhibitorKill : 첫번째 억제기 파괴 여부
        - totalDamageTaken : 받은 피해량
        - physicalDamageTaken : 받은 물리피해량
        - magicalDamageTaken : 받은 마법피해량
        - damageSelfMitigated : 감소된 피해량
        - totalDamageDealt : 적에게 가한 피해량
        - physicalDamageDealt : 가한 물리피해량
        - magicDamageDealt : 가한 마법피해량
        - trueDamageDealt : 적에게 가한 고정 피해량
        - damageDealtToObjectives : 오브젝트에게 가한 피해량
        - totalDamageDealtToChampions : 챔피언에게 가한 총피해량
        - physicalDamageDealtToChampions : 챔피언에게 가한 물리피해량
        - magicDamageDealtToChampions : 챔피언에게 가한 마법피해량
        - trueDamageDealtToChampions : 챔피언에게 가한 고정 피해량
        - damageDealtToTurrets : 타워에게 가한 피해량
        - nodeNeutralizeAssist : 
        - totalPlayerScore : 총 플레이어 점수
        - champLevel : 챔피언 레벨
        - neutralMinionsKilled : (아군 정글) 중립미니언 처치
        - deaths : 데스 수
        - tripleKills : 트리플킬 횟수
        - wardsKilled : 와드 처리한 수
        - pentaKills : 펜타킬
        - largestCriticalStrike : 최대 치명타
        - nodeNeutralize : 노드중화
        - totalTimeCrowdControlDealt : 총 군중제어 시간
        - firstTowerKill : 첫타워 파괴 여부
        - totalScoreRank : 총 점수순위
        - nodeCapture : 
        - wardsPlaced : 와드 박은 횟수
        - timeCCingOthers :
        - largestKillingSpree : 최대 연속 처치 수
        - neutralMinionsKilledTeamJungle : 아군 전글 중립 미니언 처치
        - totalMinionsKilled : cs 수
        - firstInhibitorAssist : 첫 억제기 어시스트
        - visionWardsBoughtInGame : 제어 와드 구매 수
        - objectivePlayerScore : 
        - kills : 킬 수
        - firstTowerAssist : 첫타워 어시스트
        - combatPlayerScore : 
        - inhibitorKills : 억제기 파괴 횟수
        - turretKills : 타워 파괴 횟수
        - trueDamageTaken : 받은 고정 피해
        - firstBloodAssist : 퍼블 어시 여부
        - nodeCaptureAssist : 
        - assists : 어시스트
        - teamObjective : 
        - altarsNeutralized : 
        - altarsCaptured : 
        - win : 승리여부
        - unrealKills : 언리얼 킬 수
        - visionScore : 시야점수
        - firstBloodKill : 퍼블여부
        - longestTimeSpentLiving : 최고 생존 시간
        - killingSprees : 최대 다중 처치 수
        - sightWardsBoughtInGame : 구매 와드 수
        - neutralMinionsKilledEnemyJungle : 적 정글의 중립 몬스터 처치
        - doubleKills : 더블킬
        - quadraKills : 쿼드라킬
        - playerScore0~9 : 플레이어 점수
        - perk0~5 : 특전1
            - perk0Var1~3 : 게임 후 룬 통계
        - perkPrimaryStyle : 기본 룬 경로
        - perkSubStyle : 보조 룬 경로
        - statPerk0~2 : 스탯룬

# Dataset Load 및 Save

In [1]:
import os, glob
import json
import pickle
import requests

path = os.path.join(os.getcwd(), "datas")
json_path = glob.glob(path+"/*.json")

### 약 17만건의 게임 데이터 dataframe화 및 pickle파일로 저장

In [ ]:
# json data 한 줄씩 load
data = [json.loads(line) for line in open(data_path, 'r')]

In [ ]:
# load한 json datas를 dataframe화한 후 pickle파일로 저장

df = pd.DataFrame(columns=data[0].keys())

for i in range(len(data)):
    df = df.append(pd.DataFrame.from_dict(data[i], orient='index').T)
    
df.reset_index(drop=True, inplace=True)

with open(f'{path}/lol_df.pkl', 'wb') as f:
    pickle.dump(df, f)

### 리그오브레전드 챔피언 정보 데이터 load 및 pickle파일로 저장
- 숫자로 표현된 챔피언 정보를 문자열로 변환할 때 사용

In [1]:
# 챔피언 정보가 있는 url에 request -> response
url = "http://ddragon.leagueoflegends.com/cdn/11.16.1/data/en_US/champion.json"

response = requests.get(url)
response

In [20]:
# 필요한 정보만 추출 후 dictionary형태로 저장
champion_datas = {}
for data in response.json()['data']:
    name = response.json()['data'][data]['id']
    key = response.json()['data'][data]['key']

    champion_datas.update({key: name})

In [23]:
# 챔피언 정보 pickle 파일로 저장
with open('datas/champion_filter.pkl', 'wb') as f:
    pickle.dump(champion_datas, f)

# 1차 데이터 전처리
- 중복 데이터 제거 및 불필요한 변수제거

In [3]:
df_path = glob.glob(path+"/*_df.pkl")[0]

with open(df_path, 'rb') as f:
    df = pickle.load(f)

In [4]:
print(df.shape)
df.tail(2)

(169831, 14)

,seasonid,queueid,gameid,participantidentities,gameversion,platformid,gamemode,mapid,gametype,teams,participants,gameduration,gamecreation,participantextendedstats
169829,13,420,4618821836,"[{'player': {'currentplatformid': 'KR', 'match...",10.18.333.8889,KR,CLASSIC,11,MATCHED_GAME,"[{'firstdragon': False, 'firstinhibitor': True...","[{'stats': {'physicaldamagedealt': 265299, 'ne...",2362,1599049144,"[{'participantid': 1, 'position': 'ADC', 'tier..."
169830,13,420,4618822937,"[{'player': {'currentplatformid': 'KR', 'match...",10.18.333.8889,KR,CLASSIC,11,MATCHED_GAME,"[{'firstdragon': False, 'firstinhibitor': True...","[{'stats': {'physicaldamagedealt': 13594, 'neu...",2043,1599049389,"[{'participantid': 1, 'position': 'SUPPORT', '..."

### 중복된 경기 데이터 제거
- 1 row는 독립적인 경기이기 때문에 중복 데이터를 찾은 뒤, 중복여부를 판단하고 삭제

In [13]:
# 중복 데이터가 3개 존재하기에 상위 3개의 인덱스만 추출 후 해당 인덱스에 대한 row정보 추출
print(df['gameid'].value_counts()[:3].index)


df[(df['gameid'] == 4626085422) | (df['gameid'] == 4635510522) | (df['gameid'] == 4619222704)].sort_values('gameid')

Int64Index([4626085422, 4635510522, 4619222704], dtype='int64')

,seasonid,queueid,gameid,participantidentities,gameversion,platformid,gamemode,mapid,gametype,teams,participants,gameduration,gamecreation,participantextendedstats
18127,13,420,4619222704,"[{'player': {'currentplatformid': 'KR', 'match...",10.18.333.8889,KR,CLASSIC,11,MATCHED_GAME,"[{'firstdragon': True, 'firstinhibitor': True,...","[{'stats': {'physicaldamagedealt': 10082, 'neu...",2300,1599059981,"[{'participantid': 1, 'position': 'SUPPORT', '..."
122369,13,420,4619222704,"[{'player': {'currentplatformid': 'KR', 'match...",10.18.333.8889,KR,CLASSIC,11,MATCHED_GAME,"[{'firstdragon': True, 'firstinhibitor': True,...","[{'stats': {'physicaldamagedealt': 10082, 'neu...",2300,1599059981,"[{'participantid': 1, 'position': 'SUPPORT', '..."
10912,13,420,4626085422,"[{'player': {'currentplatformid': 'KR', 'match...",10.18.333.8889,KR,CLASSIC,11,MATCHED_GAME,"[{'firstdragon': True, 'firstinhibitor': False...","[{'stats': {'physicaldamagedealt': 4064, 'neut...",931,1599316882,"[{'participantid': 1, 'position': 'SUPPORT', '..."
119286,13,420,4626085422,"[{'player': {'currentplatformid': 'KR', 'match...",10.18.333.8889,KR,CLASSIC,11,MATCHED_GAME,"[{'firstdragon': True, 'firstinhibitor': False...","[{'stats': {'physicaldamagedealt': 4064, 'neut...",931,1599316882,"[{'participantid': 1, 'position': 'SUPPORT', '..."
66821,13,420,4635510522,"[{'player': {'currentplatformid': 'KR', 'match...",10.18.333.8889,KR,CLASSIC,11,MATCHED_GAME,"[{'firstdragon': True, 'firstinhibitor': True,...","[{'stats': {'physicaldamagedealt': 14018, 'neu...",1248,1599683871,"[{'participantid': 1, 'position': 'JUNGLE', 't..."
75778,13,420,4635510522,"[{'player': {'currentplatformid': 'KR', 'match...",10.18.333.8889,KR,CLASSIC,11,MATCHED_GAME,"[{'firstdragon': True, 'firstinhibitor': True,...","[{'stats': {'physicaldamagedealt': 14018, 'neu...",1248,1599683871,"[{'participantid': 1, 'position': 'JUNGLE', 't..."

In [14]:
# 중복 중 첫번째 row를 남기고 중복 데이터 제거
df.drop_duplicates(['gameid'], keep='first', inplace=True)
print(df.shape)

(169828, 14)

### 불필요한 변수 제거
- seasonid, queueid, gameversion, gamemode, mapid, gametype : 각 변수의 데이터종류가 1개이기에 삭제
- gamecreation : 데이터간 유의미한 차이가 존재하지 않고, 분석에 불필요한 변수라고 판단하에 삭제
- participantidentities : 유저의 개인정보가 들어있는 데이터기에 삭제

In [22]:
print(df['gamecreation'].apply(lambda x: len(str(x))).unique(), df['gamecreation'].apply(lambda x: str(x)[:4]).unique())
df['seasonid'].unique(), df['queueid'].unique(), df['gameversion'].unique(), df['gamemode'].unique(), \
df['mapid'].unique(), df['gametype'].unique()

[10] ['1599']

(array([13], dtype=object),
 array([420], dtype=object),
 array(['10.18.333.8889'], dtype=object),
 array(['CLASSIC'], dtype=object),
 array([11], dtype=object),
 array(['MATCHED_GAME'], dtype=object))

In [23]:
df.drop(columns=['seasonid', 'queueid', 'gameid', 'gameversion', 'platformid', 'gamemode', 
                          'mapid', 'gametype', 'gamecreation', 'participantidentities'], inplace=True)

df.reset_index(drop=True, inplace=True)
df.tail(2)

,teams,participants,gameduration,participantextendedstats
169826,"[{'firstdragon': False, 'firstinhibitor': True...","[{'stats': {'physicaldamagedealt': 265299, 'ne...",2362,"[{'participantid': 1, 'position': 'ADC', 'tier..."
169827,"[{'firstdragon': False, 'firstinhibitor': True...","[{'stats': {'physicaldamagedealt': 13594, 'neu...",2043,"[{'participantid': 1, 'position': 'SUPPORT', '..."

In [24]:
df.shape

(169828, 4)

---

# 2차 데이터 전처리 
- 분석을 위한 데이터셋 세분화

### 한 게임당 10명의 유저 경기 데이터를 보유하고 있는 데이터셋
- 한 게임에 10명의 유저데이터가 있기 때문에 1row(한 경기) -> 10rows(한 유저) 데이터로 세분화

In [9]:
participant_list = []
for num in range(len(df)):
    one_game_data = df.loc[num]
    for i in range(10):
        row = {k:v for k, v in one_game_data['participants'][i]['stats'].items() if k != "timeline"}
        row['role'] = one_game_data['participants'][i]['timeline']['role']
        row['championid'] = one_game_data['participants'][i]['championid']
        row['spell1id'] = one_game_data['participants'][i]['spell1id']
        row['spell2id'] = one_game_data['participants'][i]['spell2id']

        participant_list.append(row)
    
participants_df = pd.DataFrame(participant_list)

In [15]:
participants_df.tail()

,physicaldamagedealt,neutralminionskilledteamjungle,magicdamagedealt,totalplayerscore,deaths,win,neutralminionskilledenemyjungle,largestcriticalstrike,totaldamagedealt,magicdamagedealttochampions,visionwardsboughtingame,damagedealttoobjectives,largestkillingspree,item1,quadrakills,totaltimecrowdcontroldealt,wardskilled,firsttowerassist,firsttowerkill,item2,item3,item0,firstbloodassist,visionscore,wardsplaced,item4,item5,item6,turretkills,triplekills,damageselfmitigated,champlevel,goldearned,magicaldamagetaken,kills,doublekills,truedamagetaken,assists,unrealkills,neutralminionskilled,objectiveplayerscore,combatplayerscore,damagedealttoturrets,physicaldamagedealttochampions,goldspent,truedamagedealt,truedamagedealttochampions,participantid,pentakills,totalheal,totalminionskilled,firstbloodkill,largestmultikill,sightwardsboughtingame,totaldamagedealttochampions,totalunitshealed,inhibitorkills,totalscorerank,totaldamagetaken,killingsprees,timeccingothers,physicaldamagetaken,perk0,perk0var1,perk0var2,perk0var3,perk1,perk1var1,perk1var2,perk1var3,perk2,perk2var1,perk2var2,perk2var3,perk3,perk3var1,perk3var2,perk3var3,perk4,perk4var1,perk4var2,perk4var3,perk5,perk5var1,perk5var2,perk5var3,perkprimarystyle,perksubstyle,longesttimespentliving,statperk0,statperk1,statperk2,role,championid,spell1id,spell2id,firstinhibitorkill,firstinhibitorassist
1698275,197465,12,3056,0,3,True,1,362,206332,2413,5,39372,0,3085,0,971,2,False,False,3031,2420,3153,False,44,17,3123,3006,3363,3,0,7713,17,13933,5775,1,0,108,13,0,17,0,0,7563,13861,12775,5810,467,6,0,2907,247,False,1,0,16741,4,1,0,17772,0,35,11889,8008,2,10,0,8009,2613,500,0,9104,18,30,0,8014,258,0,0,8410,65,0,0,8345,3,0,0,8000,8300.0,1316,5005,5008,5002,DUO_CARRY,22,7,4,False,False
1698276,42016,120,206338,0,3,True,30,0,263970,20853,2,49495,5,3089,0,576,6,False,True,3152,3020,1402,False,27,3,3100,3165,3364,3,0,27010,18,17198,12459,15,4,2012,8,0,190,0,0,7793,2322,16250,15615,1547,7,0,25834,51,False,2,0,24723,1,1,0,43029,4,11,28557,8128,2225,22,0,8143,962,0,0,8138,30,0,0,8135,12535,5,0,8304,9,4,5,8321,2,0,0,8100,8300.0,873,5005,5008,5002,NONE,245,11,4,False,False
1698277,189935,0,6486,0,9,True,0,0,196642,3751,0,10268,3,3153,0,75,3,False,False,3026,3111,3071,False,21,9,3812,0,3340,1,0,40330,18,15996,8443,7,0,6131,10,0,20,0,0,4938,24424,14960,221,221,8,0,12947,228,False,1,0,28396,1,0,0,42911,2,29,28336,8010,1472,0,0,9111,1288,340,0,9104,13,50,0,8299,944,0,0,8446,1254,0,0,8473,1007,0,0,8000,8400.0,293,5005,5008,5002,SOLO,58,12,4,False,False
1698278,193581,4,686,0,6,True,10,873,199392,149,2,10995,4,3812,0,110,6,False,False,3742,3046,3076,False,22,5,3047,3078,3364,3,1,57717,18,17547,6188,13,2,7801,8,0,21,0,0,5818,28650,16283,5124,4984,9,0,8341,240,True,3,0,33784,1,0,0,35843,4,45,21854,8010,2632,0,0,9111,2541,420,0,9105,13,50,0,8299,1469,0,0,8275,12,0,0,8210,0,0,0,8000,8200.0,831,5008,5008,5002,SOLO,86,4,14,False,False
1698279,30828,0,134,0,6,True,0,0,37847,134,6,1729,0,3147,0,70,19,False,False,3857,3117,2055,False,120,53,3179,3814,3364,0,0,11062,14,11249,4715,1,0,517,9,0,5,0,0,0,7065,10150,6884,878,10,0,2646,60,False,1,0,8078,1,0,0,16675,0,15,11441,8439,134,0,0,8446,0,0,0,8473,885,0,0,8242,43,0,0,8136,20,30,0,8106,4,0,0,8400,8100.0,918,5008,5008,5002,DUO_SUPPORT,555,14,4,False,False

### 한 게임당 10명의 유저 라인 및 티어 데이터를 보유하고 있는 데이터셋
- 한 게임에 10명의 유저데이터가 있기 때문에 1row(한 경기) -> 10rows(한 유저) 데이터로 세분화

In [26]:
participantextendedstat_list = []
for num in range(len(df)):
    one_game_data = df.loc[num]
    for i in range(10):
        row = {k:v for k, v in one_game_data['participantextendedstats'][i].items() if k != "participantid"}
        participantextendedstat_list.append(row)
    
participantextendedstat_df = pd.DataFrame(participantextendedstat_list)

In [19]:
participantextendedstat_df.tail()

        position      tier tierrank  leaguepoints
1698275      ADC  PLATINUM        I           100
1698276   JUNGLE   DIAMOND       IV           100
1698277      TOP   DIAMOND       IV            69
1698278      MID   DIAMOND       IV            93
1698279  SUPPORT  PLATINUM        I             0

### 한 게임당 두 팀의 오브젝트 데이터를 보유하고 있는 데이터셋
- 1. 1row = 유저인 데이터셋
    - 위 두 데이터셋과 동일하게 row를 유저데이터로 맞추기 위해 1row -> 10rows 로 세분화
    - 분석을 위해 gameduration 컬럼데이터 추가
- 2. 1row = 팀인 데이터셋
    - 오브젝트 중요도에 대한 분석을 위한 데이터셋
    - 1row(한 경기) -> 2rows(한 팀) 으로 세분화

#### 1. 1row = 유저인 데이터셋

In [10]:
team_list = []
for num in range(len(df)):
    one_game_data = df.loc[num]
    for i in range(10):

        if i < 5:
            row = {k:v for k, v in one_game_data['teams'][0].items() if k != "bans"}
            row['bans'] = (one_game_data['teams'][0]['bans'][i]['championid'])
        else:
            row = {k:v for k, v in one_game_data['teams'][1].items() if k != "bans"}
            row['bans'] = (one_game_data['teams'][1]['bans'][i-5]['championid'])
        
        row['gameduration'] = one_game_data['gameduration']
        
        team_list.append(row)
        
team_df = pd.DataFrame(team_list)

In [5]:
team_df.tail()

,firstdragon,firstinhibitor,baronkills,firstriftherald,firstbaron,riftheraldkills,firstblood,teamid,firsttower,vilemawkills,inhibitorkills,towerkills,dominionvictoryscore,win,dragonkills,bans,gameduration
1698305,True,False,2,True,True,2,True,200,True,0,2,10,0,Win,4,50,2043
1698306,True,False,2,True,True,2,True,200,True,0,2,10,0,Win,4,777,2043
1698307,True,False,2,True,True,2,True,200,True,0,2,10,0,Win,4,84,2043
1698308,True,False,2,True,True,2,True,200,True,0,2,10,0,Win,4,64,2043
1698309,True,False,2,True,True,2,True,200,True,0,2,10,0,Win,4,60,2043

#### 2. 1row = 팀인 데이터셋
- 조기서렌 게임 삭제

In [7]:
team_list = []
for num in range(len(df)):
    one_data = df.loc[num]
    for i in range(len(one_data['teams'])):
        if one_data['gameduration'] <= 605: # 결측치 처리 과정에서 605초 이전 데이터를 삭제하면 비정상적인 데이터가 다 삭제되는 것을 확인
            continue
        row = {k:v for k, v in one_data['teams'][i].items() if k != "bans"}
        row['gameduration'] = one_data['gameduration']
        team_list.append(row)
        
team_df_2 = pd.DataFrame(team_list)

In [10]:
print(team_df_2.shape)
team_df_2.tail()

(334588, 16)

,firstdragon,firstinhibitor,baronkills,firstriftherald,firstbaron,riftheraldkills,firstblood,teamid,firsttower,vilemawkills,inhibitorkills,towerkills,dominionvictoryscore,win,dragonkills,gameduration
334583,True,True,1,False,False,0,False,200,False,0,1,5,0,Win,2,1964
334584,False,True,2,True,True,2,True,100,True,0,1,8,0,Win,4,2362
334585,True,False,0,False,False,0,False,200,False,0,0,3,0,Fail,2,2362
334586,False,True,0,False,False,0,False,100,False,0,1,6,0,Fail,1,2043
334587,True,False,2,True,True,2,True,200,True,0,2,10,0,Win,4,2043

#### save to pickle file

In [ ]:
with open(f'{path}/participants.pkl', 'wb') as f:
    pickle.dump(participants_df, f)
    
with open(f'{path}/participantextendedstats.pkl', 'wb') as f:
    pickle.dump(participantextendedstat_df, f)
    
with open(f'{path}/teams.pkl', 'wb') as f:
    pickle.dump(team_df, f)
    
with open(f'{path}/teams_2.pkl', 'wb') as f:
    pickle.dump(team_df_2, f)